section#intro {
  padding-top: $navbar-height;
  padding-bottom: $navbar-height/2;
}

#me .heading-container {
  h2 {
    display: inline;
    padding-right: 1.75em;
  }
  i {
    padding-right: 0.25em;
    color: $teal;
    &:hover {
      color: $darkteal;
    }
  }
}
