#hello {
  margin-top: $navbar-bottom-space;
  h1 {
    padding-top: 5px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .intro {
    font-weight: 300;
    font-size: 1.5em;
  }
}

#overview #selected-projects, #overview #selected-publications {
  padding-bottom: 40px;
  .subheading {
    display: inline;
    padding-right: 1em;
    margin-bottom: 1em;
  }
}

#overview #selected-projects {
  img {
    width: 120px;
    margin-top: 10px;
    margin-right: 10px;
    @extend .grayborder;
  }
}

#overview #selected-publications {
  .author {
    font-size: $small-font-size;
  }
  article {
    padding-bottom: $article-spacer;
  }
}

#overview #feed {
  font-size: $small-font-size;
  .date, .location {
    color: $darkgray;
    display: inline-block;
  }
  .news {
    display: inline-block;
  }
  article {
    padding-bottom: $article-spacer;
  }
}
