#projects {
  margin-top: 75px;

  .title {
    font-weight: 300;
  }
}

#projects #filters {
  margin-bottom: 2em;
}


#projects #tiles {
  float: left;
  
  #tile-grid {
    list-style-type: none;
    padding: 0;
    
    .tile {
      width: 225px;
      float: left;
      overflow: hidden;
      
      .project-snapshot {
        float: left;
        width: 222px;

        hr {
          border-top: 1px solid $gray;
          margin: 2px 0 5px;
        }

        .image-wrapper {
          @extend .grayborder;
          img {
            width: 220px;
            border-bottom: 1px solid $lightgray;
          }
        }
        .project-info {
          background-color: $lightgray;
        }
        .project-name {
          padding-left: 5px;
          display: block;
          font-weight: 400;
          font-size: 1.4em;
          text-transform: lowercase;
          font-variant: small-caps;
        }
        .project-description {
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 10px;
          font-weight: 300;
        }
        hr.project-border {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .tile {
    margin: 0px 5px 20px 0;
  }
}
