#projects #filters {
  margin-bottom: 2em;
  label {
    font-weight: 300;
    font-size: 1em;
    &.active {
      background-color: $teal;
      color: white;
    }
  }
}


#projects #tiles {
  float: left;
  
  #tile-grid {
    list-style-type: none;
    padding: 0;
    
    .tile {
      width: 225px;
      float: left;
      overflow: hidden;
      
      .project-snapshot {
        float: left;
        width: 222px;

        .image-wrapper {
          @extend .grayborder;
          img {
            width: $tile-width;
            border-bottom: 1px solid $lightgray;
            -webkit-transition: .2s all;
          }
          &:hover .mask {
            opacity: 1;
            -webkit-transition: all 0.5s
          }
          .mask {
            position: absolute;
            top: 0px;
            width: $tile-width;
            height: $tile-height;
            background: rgba(0,0,0,0.75);
            opacity: 0;
          }
          .mask-heading {
            display: block;
            color: white;
            text-align: center;
            vertical-align: middle;
            margin: 2em;
            text-transform: lowercase;
            font-variant: small-caps;
          }
        }
        .project-info {
          background-color: $lightgray;
          text-align: center;
        }
        .project-name {
          padding-left: 5px;
          display: block;
          font-weight: 400;
          font-size: 1.4em;
          text-transform: lowercase;
          font-variant: small-caps;
        }
        .project-description {
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 10px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .tile {
    margin: 0px 5px 20px 0;
  }
}
