#publications {

    .legend {
        font-size: $small-font-size;
        color: $darkgray;
        padding-bottom: 10px;
        font-style: italic;
        
        .legend-label {
            padding-right: 10px;
        }
    }

    .index {
        font-size: $small-font-size;
    }
    .thumbnail {
        float: left;
        display: inline-block;
        margin-right: 10px;
        &.extra-padding {
          height: 80px;
        }
    }

    .stats {
        font-size: $small-font-size;
        color: $darkgray;
        padding-left: 0.5em;
    }
    .links {
        font-size: $small-font-size;
        display: inline-block;
        padding-top: 0.75em;
        float: left;
    }

    .links {
      &:before {
        content: "links:";
        color: $darkgray;
        padding-right: 0.25em;
      }
      a {
        background-color: $teal;
        border: 1px solid $teal;
        border-radius: 5px;
        color: white;
        padding: 3px;
      }
      a+a {
        margin-left: 0.25em;
      }
    }
}