// color palette
$orange: #C95E45;
$teal: #61AAA9;
$lightgray: #D3D3D3;
$gray: #CCC;
$darkgray: #999;
$background: white;

// override bootstrap variables
$link-color: $orange;
$navbar-height: 60px;


// fonts
$small-font-size: 0.85em;

// other layouts
$article-spacer: 10px;
$navbar-bottom-space: 80px;

// project
$tile-width: 220px;
$tile-height: 148px;

.test {
  border: 1px solid red;
}
