<section id="hello" class="container">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag "photo.png" %>
    </div>
    <div class="">
      <h1>Hello!</h1>
      <span class="intro">I'm Karen. I'm a UX researcher, interaction designer, and software developer.</span>
    </div>
  </div>
</section>