---
title: kpt - projects
---

<div id="projects" class="container">
    <div class="row">

        <!-- SIDEBAR: filter projects -->
        <section id="sidebar" class="col-md-3">
            <section id="view_type" class="">
                <h2 class="subsubheading">view type</h2>
                <button class="inactive btn btn-sm">compact</button>
                <button class="btn btn-default btn-sm">expanded</button>
            </section>
            <section id="project_type" class="">
                <h2 class="subsubheading">filter by topic</h2>
                <button class="inactive btn btn-sm">all</button>
                <button class="btn btn-default btn-sm">health informatics</button>
                <button class="btn btn-default btn-sm">privacy-aware computing</button>
                <button class="btn btn-default btn-sm">social computing</button>
                <button class="btn btn-default btn-sm">mobile computing</button>
                <button class="btn btn-default btn-sm">context-aware computing</button>
                <button class="btn btn-default btn-sm">information retrieval</button>
            </section>
        </section> <!-- /SIDEBAR -->

        <section id="tiles" class="col-md-9 pull-right">
            <article class="tile">
                <div style="width:150px;height:150px;background-color:gray"></div>
            </article>
            <article class="tile">
                <div style="width:150px;height:150px;background-color:blue"></div>
            </article>
            <article class="tile">
                <div style="width:150px;height:150px;background-color:gray"></div>
            </article>
            <article class="tile">
                <div style="width:150px;height:150px;background-color:gray"></div>
            </article>
            <article class="tile">
                <div style="width:150px;height:150px;background-color:gray"></div>
            </article>
            <article class="tile">
                <div style="width:150px;height:150px;background-color:gray"></div>
            </article>
        </section>

    </div>
</div>
