---
title: kpt - publications
---

<div id="publications" class="container">

    <h2>publications</h2>

    <section id="papers">
        <div class="legend row">
            <div class="col-md-12">
                <span class="legend-label">c = conference paper (peer-reviewed)</span>
                <span class="legend-label">j = journal paper (peer-reviewed)</span>
                <span class="legend-label">w = workshop paper (lightly peer-reviewed)</span>
            </div>
        </div>
        <article class="row no-gutter">
            <div class="col-md-1 index">[c-18]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Hirano, S.H., Cheng, K.G,, and Hayes, G.R. (2012). <a>Balancing Caregiver and Clinician Needs in a Mobile Health Informatics Tool for Preterm Infants</a>. Proceedings of the <a>6th International Conference on Pervasive Computing Technologies for Healthcare (Pervasive Health 2012)</a>. San Diego, California (May 21-24, 2012). IEEE, pp. 1-8.
                    <span class="stats">[acceptance rate: 33.96%]</span>
                    <span class="links">
                        [<a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6240387&isnumber=6240350">official pdf</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-estrellita-pervasivehealth12.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-17]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    Hirano, S.H., <b>Tang, K.P.</b>, Cheng, K.G., and Hayes, G.R. (2012). <a>The Estrellita System: A Health Informatics Tool to Support Caregivers of Preterm Infants</a>. Proceedings of the 6th International Conference on Pervasive Computing Technologies for Healthcare (Pervasive Health 2012). San Diego, California (May 21-24, 2012). IEEE, pp. 195-196.
                    <span class="links">
                        [<a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6240356&isnumber=6240350">official pdf</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-estrellita-pervasivehealth12demo.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[w-7]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Hirano, S.H., Cheng, K.G., and Hayes, G.R. (2012). <a>Designing a Mobile Health Tool for Preterm Infant Wellness</a>. Workshop on Wellness Interventions and HCI at the 6th International Conference on Pervasive Computing Technologies for Healthcare (Pervasive Health 2012). San Diego, California (May 21-24, 2012).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-estrellita-wihci12.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-16]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Hong, J.I., and Siewiorek, D.P. (2012). <a>The Implications of Offering More Disclosure Choices for Social Location Sharing</a>. Proceedings of the ACM Conference on Human Factors in Computing Systems (CHI 2012). Austin, Texas (May 5-10, 2012). New York: ACM Press, pp. 391-394.
                    <span class="stats">[acceptance rate: 23%]</span>
                    <span class="links">
                        [<a href="http://dx.doi.org/10.1145/2207676.2207730">official pdf</a>] [<a href="http://dl.acm.org/authorize?6761339">acm authorizer</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-disclosurechoice-chi12.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[w-6]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Hong, J.I., and Siewiorek, D.P. (2012). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-locationsharing-cscw12ws.pdf">Privacy and Sharing Outcomes of Using Location Abstractions</a>. Workshop on Reconciling Privacy with Social Media at ACM Conference on Computer Supported Cooperative Work (CSCW 2012). Seattle, Washington (February 11-15, 2012).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-locationsharing-cscw12ws.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[w-5]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Cheng, K.G., Hirano, S., Nagel, M., Baker, D., and Hayes, G.R. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-estrellita-wish11.pdf">Addressing the Design Challenges for a Clinically-Informed Data Capture Tool Targeted for Caregivers of Premature Infants</a>. Workshop on Interactive Systems in Healthcare (WISH 2011). Washington, D.C. (October 22, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-estrellita-wish11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-14]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Hong, J.I., and Siewiorek, D.P. (2011). <a href="http://dx.doi.org/10.1145/2030112.2030141">Understanding How Visual Representations of Location Feeds Affect End-User Privacy Concerns</a>. Proceedings of the 13th International Conference on Ubiquitous Computing (Ubicomp 2011). Beijing, China (September 17-21, 2011). New York: ACM Press, pp. 207-216.
                    <span class="stats">[acceptance rate: 16.6%]</span>
                    <span class="links">
                        [<a href="http://dx.doi.org/10.1145/2030112.2030141">official pdf</a>] [<a href="http://dl.acm.org/authorize?6589961">acm authorizer</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-locationviz-ubicomp11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-13]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    Lee, M.K., <b>Tang, K.P.</b>, Forlizzi, J., and Kiesler, S. (2011). <a href="http://doi.acm.org/10.1145/1957656.1957721">Understanding users' perception of privacy in human-robot interaction</a>. Proceedings of the 6th International Conference on Human-Robot Interaction (HRI 2011). Lausanne, Switzerland (March 6-9, 2011). New York: ACM Press, pp. 181- 182.
                    <span class="links">
                        [<a href="http://doi.acm.org/10.1145/1957656.1957721">official pdf</a>] [<a href="http://dl.acm.org/authorize?485402">acm authorizer</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-robotprivacy-hri11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-12]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b>, Lin, J.L., Hong, J. I., and Siewiorek, D.P. (2010). <a href="http://dx.doi.org/10.1145/1864349.1864363">Rethinking Location Sharing: Exploring the Implications of Social-Driven vs. Purpose-Driven Location Sharing</a>. Proceedings of the 12th International Conference on Ubiquitous Computing (Ubicomp 2010). Copenhagen, Denmark (September 26-29, 2010). New York: ACM Press, pp. 85-94.
                    <span class="stats">[acceptance rate: 19%]</span>
                    <span class="links">
                        [<a href="http://dx.doi.org/10.1145/1864349.1864363">official pdf</a>] [<a href="http://dl.acm.org/authorize?390398">acm authorizer</a>] 
[<a href="http://www.ics.uci.edu/~kptang/pubs/tang-sociallocation-ubicomp10.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[w-4]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <b>Tang, K.P.</b> (2007). <a href="http://www.acm.org/uist/archive/adjunct/2007/pdf/doctoral_consortium/p33-tang.pdf">Privacy Mechanisms for Context-Aware, Group-based Mobile Social Software</a>. Doctoral Symposium at the ACM Symposium on User Interface Software and Technology (UIST 2007). Newport, Rhode Island (October 7-10, 2007). Adjunct Proceedings, pp. 33-36.
                    <span class="links">
                        [<a href="http://www.acm.org/uist/archive/adjunct/2007/pdf/doctoral_consortium/p33-tang.pdf">official pdf</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-uist07ds.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

        <article class="row no-gutter">
            <div class="col-md-1 index">[c-11]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    Hsieh, G., <b>Tang, K.P.</b>, Low, W.Y., and Hong, J.I. (2007). <a href="http://dx.doi.org/10.1007/978-3-540-74853-3_6">Field Deployment of IMBuddy: A Study of Privacy Control and Feedback Mechanisms for Contextual Instant Messengers</a>. Proceedings of the 9th International Conference on Ubiquitous Computing (Ubicomp 2007). Innsbruck, Austria (September 16-19, 2007). Heidelberg, Germany: Springer, pp. 91-108.
                    <span class="stats">[acceptance rate: 19%]</span>
                    <span class="links">
                        [<a href="http://dx.doi.org/10.1007/978-3-540-74853-3_6">official pdf</a>] [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-imbuddy-ubicomp07.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>
<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>

<article class="row no-gutter">
            <div class="col-md-1 index">[c-15]</div>
            <div class="col-md-11 pub">
                <div class="thumbnail" style="width:80px;height:80px;background-color:gray;"></div>
                <div class="citation">
                    <span class="stats">[best paper award]</span>
                    <b>Tang, K.P.</b>, Weise, J.W., Hong, J.I., Siewiorek, D.P., and Zimmerman, J. (2011). <a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">The Under-Appreciated Dimension of Time in Location-Based Systems</a>. Grace Hopper Celebration (GHC 2011). Portland, Oregon (November 9-12, 2011).
                    <span class="links">
                        [<a href="http://www.ics.uci.edu/~kptang/pubs/tang-lbstime-ghc11.pdf">local pdf</a>]
                    </span>
                </div>
            </div>
        </article>
    </section>

    <section id="theses">
    </section>

    <section id="reports">
    </section>

    <section id="pressrelease">
    </section>

    </div>
</div>
